* {
    padding: 0%;
    margin: 0%;
    
}

body {
    background-color: rgb(59, 58, 56);
   

    }

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

h1 {
    color: white;
    background-color: black;
    margin: 0px auto;
    width: 800px;
    margin-bottom: 20px;
    text-align: center;

}


h2 {
    position: sticky;
    color:bisque;
    background-color: black;
    width: 800px;
    margin: 0px auto;
    text-align: center;
}

article {
    column-count: 3;
    column-width: 200px;
    color: white;
    background-color: rgb(59, 58, 56);
    width: 800px;
    height: 700px;
    margin: 0px auto;

}


.tile {
    width: 250px;
    height: 300px;
    background-color: rgb(114, 35, 35);
    color: darksalmon;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border: solid black 3px;
    padding: 20px;



}

.tile:nth-child(1) {
    top: 50px;
    left: 10px;

}


.tile:nth-child(2) {
    top: 50px;
    left: 220px;
}


.tile:nth-child(3) {
    top: 50px;
    left: 430px;
}


.tile:nth-child(4) {
    top: 260px;
    left: 10px;
}


.tile:nth-child(5) {
    top: 260px;
    left: 220px;
}


.tile:nth-child(6) {
    top: 260px;
    left: 430px;
}


.tile:nth-child(7) {
    top: 470px;
    left: 10px
}


.tile:nth-child(8) {
    top: 470px;
    left: 220px;
}


.tile:nth-child(9) {
    top: 470px;
    left: 430px;
}

footer {
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

img {
    width: 150px;
    height: 150px;
    margin: 30px;
    border: 4px solid darkslategrey;
}



img:hover {
    width: 160px;
    height: 160px;
    margin: 30px;
    border: 4px solid orangered;
   
}

a{
    text-decoration: none;
    color: darksalmon;
}